<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/ValidCheck.js"></script>
<script type="text/javascript" src="/js/LeeValidChecker.js"></script>
	<link rel="stylesheet" href="/css/result.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/board.css">
</head>
<body>
<div class="wrapper">
	<div class="nav">
		<div class="logo"><a href="/">TravelWith</a></div>
		<div class="menu">
			<div class="li"><a href="/">Home</a></div>
			<div class="li"><a href="#">About</a></div>
			<div class="li"><a href="board.go">Community</a></div>
			<th:block th:if="${loginMember}">
				<div class="li"><a href="mypage.update.go">Mypage</a></div>
				<a href="member.logout"><div class="li" id="logout_btn">Log out</div></a>
				<script type="text/javascript">
					document.addEventListener("DOMContentLoaded", function() {
                    var logoutBtn = document.getElementById("logout_btn");

                    if (logoutBtn) {
                        logoutBtn.addEventListener("click", function() {
                            alert("로그아웃 되었습니다.");
                        });
                    }
                });
				</script>
			</th:block>
			<th:block th:unless="${loginMember}">
				<a href="login.go"><div class="li" id="signin_btn">Sign In</div></a>
			</th:block>
		</div>
	</div>
</div>
<div class="login_wrapper">
		<div class="mypage">
			<div class="board_title">My Page</div>
			<a href="mypage.update.go"><div class="outer hpoint">회원정보 수정</div></a>
			<a href="mypage.post.go"><div class="outer">게시글 관리</div></a>
			<a href="mypage.photo.go"><div class="outer">사진첩 관리</div></a>
		</div>
		<div class="board_wrap">
			<div id="info_form">
				<form  method="POST" action="member.update" name="updateform" onsubmit="return checkValidMyInFo();">
					<input th:value="${loginMember.u_id }" name="u_id" id="u_id" type="text" readonly="readonly" maxlength="10" class="signup_input">
					<input th:value="${loginMember.u_pw }" name="u_pw" id="u_pw" type="password" placeholder="Enter your PW" maxlength="15" class="signup_input">
					<input th:value="${loginMember.u_pw }" name="u_repw" id="u_repw" type="password" placeholder="Enter your PW again" maxlength="15" class="signup_input">
					<input th:value="${loginMember.u_nickname }" name="u_nickname" id="u_nickname" type="text" class="signup_input" placeholder="Enter your nickname" maxlength="10">
					<input th:value="${loginMember.u_email }" name="u_email" id="u_email" type="email" class="signup_input" placeholder="Enter your email" >
					<input th:value="${addr[2] }" name="u_addr1" id="u_addr1" type="text" class="signup_input" placeholder="Enter your address" readonly="readonly">
					<input th:value="${addr[0] }" name="u_addr2" id="u_addr2" type="text" class="signup_input" placeholder="Address 1" readonly="readonly">
					<input th:value="${addr[1] }" name="u_addr3" id="u_addr3" type="text" class="signup_input" placeholder="Address 2">
					<button class="register_btn" id="updatebtn">수정하기</button>
				</form>
				<a class="delete_btn" id="resignBtn">회원 탈퇴하기</a>
			</div>
		</div>
	</div>
	
</body>
</html>